/*-- scss:defaults --*/

// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Colors
$dark-green: #003333ff;
$light-blue: #cceeffff;
$white_alpha: #ffffffdd;
$orange: #ad7237;
$blue: #004488ff;
$dark_blue: rgb(71, 189, 17);


// UHERO Colors
$UHERO_blue: #1D667F;
$UHERO_orange: #F6A01B;
$UHERO_green: #9BBB59;
$UHERO_purple: #8064A2;
$UHERO_cyan: #7EC4CA;
$UHERO_gray: #505050;
$UHERO_red: #ff0000;
$UHERO_light_blue: #6DA2BC;
$UHERO_light_orange: #FFC593;
$UHERO_light_green: #BADA7C;
$UHERO_light_purple: #B69CD9;
$UHERO_light_cyan: #9CE0E6;
$UHERO_light_gray: #C5C5C5;
$UHERO_light_red: #FF9191;

// https://quarto.org/docs/output-formats/html-themes.html
// Base document colors
$navbar-bg: $UHERO_blue; // navbar
$navbar-fg: $white_alpha; // navbar foreground elements
$navbar-hl: $UHERO_orange; // highlight color when hovering over navbar links
$body-bg: $dark_blue; // page background 
$body-color: $white_alpha; // page text 
$link-color: $UHERO_orange; // hyperlinks 
$footer-bg: $UHERO_blue; // footer 
$footer-fg: $white_alpha; // footer foreground elements

// Fonts
$font-family-sans-serif: 'Open Sans'; // base font family
$font-size-root: 14px; // base font size
$toc-font-size: 14px; // table of contents font size

/*-- scss:rules --*/

// Global styles
a {
  text-decoration: none;
}

// a:hover {
//   text-decoration: underline;
// }
